
<h2>Entregas</h2>
<p>Lista Geral de Entregas</p>

<div class="search">
  <app-search [items]="filteredDeliveries()" [filterSelect]="filterSelect" (filteredItems)="onFilter($event)"></app-search>
</div>

<po-table
  [p-columns]="columns"
  [p-items]="filteredDeliveries() | paginate: { itemsPerPage: 10, currentPage }"
  [p-draggable]="true"
  [p-sort]="true"
  [p-striped]="true"
>
</po-table>

<br>

<div class="paginator">
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>


