
<h2>Entregas Sucesso</h2>
<p>Entregas com status Entregue por Motorista</p>
<po-table
  [p-columns]="columnsDelivered"
  [p-items]="deliveriesDelivered()"
  [p-draggable]="true"
  [p-sort]="true"
  [p-striped]="true"
  [p-hide-table-search]="false"
>
</po-table>

<br>

<po-divider></po-divider>

<h2>Entregas Insucesso</h2>
<p>Entregas com status Insucesso por Motorista</p>
<po-table
  [p-columns]="columnsFailure"
  [p-items]="deliveriesFailure()"
  [p-draggable]="true"
  [p-sort]="true"
  [p-striped]="true"
  [p-hide-table-search]="false"
>
</po-table>

<br>

<po-divider></po-divider>

<h2>Entregas Sucesso</h2>
<p>Entregas status Entregue por Bairro</p>
<po-table
  [p-columns]="columnsDistrict"
  [p-items]="deliveriesDistrict()"
  [p-draggable]="true"
  [p-sort]="true"
  [p-striped]="true"
  [p-hide-table-search]="false"
>
</po-table>
